// @import './variables.scss'; // Already imported in style-resources-loader
// @import './mixins.scss';// Already imported in style-resources-loader
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,700;1,400&family=Oswald:wght@700&display=swap');
@import "home.scss";
@import "admin.scss";

*,
*::before,
*::after {
    box-sizing: border-box;
}

body,
h1,
h2,
h3,
h4,
p {
    margin: 0;
}

body {
    min-height: 100vh;
    scroll-behavior: smooth;
    line-height: 1.5;
    font-family: Noto Sans, sans-serif;
    font-size: 14px;
}